<?xml version="1.0"?>                                   <!-- XML声明：指定XML版本 -->
<robot name="example">                                  <!-- 定义机器人模型，name属性指定机器人名称 -->

    <!-- 定义材质 blue -->
    <material name="blue">                              
        <color rgba="0 0 1 1" />                        <!-- color 元素定义材质的颜色，rgba 属性依次为 红、绿、蓝、透明度 (范围 0–1)，此处表示纯蓝且不透明 -->
    </material>                               

    <!-- 定义材质 red -->
    <material name="red">
        <color rgba="1 0 0 1" />
    </material>

    <!-- 定义第一个杆 base_link -->
    <link name="base_link">                             
        <visual>                                        <!-- visual 元素：描述链接外观 -->
            <origin xyz="0 0 0.3"  rpy="0 0 0"/>          <!-- 定义 link 在坐标系中的位置 xyz 与姿态 roll pitch yaw -->
            <geometry>                                  <!-- geometry 元素：包含几何形状定义 -->
                <box size="0.2 0.3 0.6"/>               <!-- box 定义一个长方体，size 属性依次为 x、y、z 方向的尺寸（单位：米） -->
            </geometry>                       
            <material name="blue"/>                     <!-- 应用先前定义的 blue 材质 -->
        </visual>                              
    </link>                                   

    <!-- 定义第二个杆 second_link -->
    <link name="second_link">                           
        <visual>                                        <!-- visual 元素：描述链接外观 -->
            <origin xyz="0.4 0 0" rpy="0 1.57 0"/>      <!-- 定义 visual 在链接坐标系中的位置与姿态 -->
            <geometry>                                  <!-- geometry 元素：包含几何形状定义 -->
                <cylinder length="0.8" radius="0.05"/>  <!-- 定义长度 0.8 米、半径 0.05 米的圆柱体 -->
            </geometry>                        
            <material name="red"/>                      <!-- 应用先前定义的 blue 材质 -->
        </visual>                             
    </link> 

    <!-- 注意:如果不添加 joint，则上面两个 link 都不会显示 -->
    <!-- 因为 URDF 不允许出现没有被连接的 link           -->
    <joint name="second_link_joint" type="fixed">       <!-- 固定关节类型 -->
        <parent link="base_link"/>
        <child link="second_link"/>
        <origin xyz="0.1 0 0.3" rpy="0 0 0"/>           <!--在 parent 坐标系下的关节位置--> 
    </joint>


</robot>